<mat-toolbar class="page-navbar">
  <a [routerLink]="['/']" class="logo">Medium</a>

  <button (click)="onToggleSidenav()" mat-mini-fab class="menu-btn">
    <mat-icon color="primary">menu</mat-icon>
  </button>

  <nav class="page-nav">
    <ul class="nav-list">
      <li>
        <a
          [routerLink]="['/']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        ><mat-icon>home</mat-icon>&nbsp;Home</a>
      </li>

      <ng-container *ngIf="isLoading$ | async">
        <li><app-loading></app-loading></li>
        <li><app-loading></app-loading></li>
        <li><app-loading></app-loading></li>
      </ng-container>

      <ng-container *ngIf="isLoggedIn$ | async">
        <li>
          <a [routerLink]="['/articles/new']" routerLinkActive="active-link">
            <mat-icon>editor</mat-icon>&nbsp;New Post
          </a>
        </li>
        <li>
          <a [routerLink]="['/settings']" routerLinkActive="active-link">
            <mat-icon>settings</mat-icon>&nbsp;Settings
          </a>
        </li>
        <li>
          <a [routerLink]="['/profiles', (user$ | async).username]" routerLinkActive="active-link">
            <mat-icon>person</mat-icon>&nbsp;{{ (user$ | async).username }}
          </a>
        </li>
      </ng-container>

      <ng-container *ngIf="isAnonymous$ | async">
        <li>
          <a [routerLink]="['/login']" routerLinkActive="active-link">Login</a>
        </li>
        <li>
          <a [routerLink]="['/register']" routerLinkActive="active-link">Register</a>
        </li>
      </ng-container>
    </ul>
  </nav>
</mat-toolbar>


