<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h2 class="text-xs-center">Sign In</h2>
        <p class="text-xs-center">
          <a [routerLink]="['/register']">Or create an account.</a>
        </p>

        <app-backend-error-messages
          *ngIf="backendValidationErrors$ | async"
          [errors]="backendValidationErrors$ | async"
        ></app-backend-error-messages>

        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="form-group">
            <input
              type="email"
              name="email"
              class="form-control form-control-lg"
              formControlName="email"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              class="form-control form-control-lg"
              formControlName="password"
              placeholder="Password"
            />
          </div>
          <div>
            <button
              type="submit"
              class="btn btn-lg btn-primary pull-xs-right"
              [disabled]="loginForm.invalid || (isSubmitting$ | async)"
            >Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

