<div class="sidebar">
  <p>Popular Tags</p>
  <error-message *ngIf="error$ | async" [message]="error$ | async"></error-message>

  <div *ngIf="isLoading$ | async" class="tag-list">
    <app-loading BRadius="20px" CWidth="120"></app-loading>
    <app-loading BRadius="20px" CWidth="120"></app-loading>
    <app-loading BRadius="20px" CWidth="120"></app-loading>
    <app-loading BRadius="20px" CWidth="120"></app-loading>
  </div>

<div *ngIf="tags$ | async" class="sidebar">
  <div class="tag-list">
    <a
      *ngFor="let tag of (tags$ | async)"
      [routerLink]="['/tags', tag]"
      class="tag-default tag-pill"
    >
      {{ tag }}
    </a>
  </div>
</div>

</div>

