<div class="article-page">
  <div class="banner">
    <div *ngIf="isLoading$ | async" class="container">
      <app-loading CWidth="200" CHeight="30"></app-loading>
      <div style="display: flex; padding-top: 20px;">
        <app-loading CWidth="30" CHeight="30" BRadius="50%"></app-loading>
        <div style="display: flex; flex-direction: column;">
          <app-loading CWidth="100" CHeight="10"></app-loading>
          <app-loading CWidth="100" CHeight="10"></app-loading>
        </div>
      </div>
    </div>

    <div *ngIf="article && !(isLoading$ | async)" class="container">
      <h1>{{ article.title }}</h1>
      <div class="article-meta">
        <a [routerLink]="['/profiles', article.author.username]">
          <img [src]="article.author.image" alt="article.author.username" />
        </a>
        <div class="info">
          <a [routerLink]="['/profiles', article.author.username]">
            {{ article.author.username }}
          </a>
          <span class="date">{{ article.createdAt | date: 'mediumDate' }}</span>
        </div>
        <span *ngIf="isAuthor$ | async">
          <a
            [routerLink]="['/articles', article.slug, 'edit']"
            class="btn btn-sm btn-outline-secondary"
          >
            <i class="ion-edit"></i>
            Edit Article
          </a>
          <button
            (click)="onDeleteArticle()"
            class="btn btn-sm btn-outline-danger"
            type="button"
          >Delete Article</button>
        </span>
      </div>
    </div>
  </div>

  <div class="container page">
    <ng-container *ngIf="isLoading$ | async">
      <app-loading CWidth="400" CHeight="12"></app-loading>
      <app-loading CWidth="400" CHeight="12"></app-loading>
      <app-loading CWidth="400" CHeight="12"></app-loading>
      <app-loading CWidth="400" CHeight="12"></app-loading>
    </ng-container>

    <error-message
      *ngIf="error$ | async"
      [message]="error$ | async">
    </error-message>

    <div *ngIf="article" class="row article-content">
      <div class="col-xs-12">
        <div>
          <p>{{ article.body }}</p>
        </div>
        <app-tag-list [tags]="article.tagList"></app-tag-list>
      </div>
    </div>
  </div>
</div>

