
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$medium-clone-primary: mat.define-palette(mat.$indigo-palette);
$medium-clone-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$medium-clone-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$medium-clone-theme: mat.define-light-theme((
  color: (
    primary: $medium-clone-primary,
    accent: $medium-clone-accent,
    warn: $medium-clone-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($medium-clone-theme);

/* You can add global styles to this file, and also import other style files */
ul, li {
  list-style: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
  text-decoration: none;
  color: inherit;
}

mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

mat-form-field {
  width: 100%;
}

mat-sidenav {
  width: 250px;
}

.underlined {
  text-decoration: underline;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.feed-toggle {
  ul {
    display: flex;
    font-size: 1.1rem;

    li {
      margin-left: 1rem;

      a {
        padding-bottom: 0.2rem;

        &.active {
          border-bottom: 2px solid #5cb85c;
          color: #5cb85c;
        }
      }
    }

  }
}
