<div class="article-form">
  <app-backend-error-messages
    *ngIf="errorsProps"
    [errors]="errorsProps"
  ></app-backend-error-messages>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Article Title</mat-label>
        <input matInput type="text" formControlName="title" />
      </mat-form-field>

      <ng-container
        *ngIf="form.get('title').touched && form.get('title').invalid"
      >
        <mat-error *ngIf="form.get('title').errors['required']">
          This field is required!
        </mat-error>
      </ng-container>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>What Is This Article About?</mat-label>
        <input matInput type="text" formControlName="description" />
      </mat-form-field>

      <ng-container
        *ngIf="form.get('description').touched && form.get('description').invalid"
      >
        <mat-error *ngIf="form.get('description').errors['required']">
          This field is required!
        </mat-error>
      </ng-container>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Article Content</mat-label>
        <textarea matInput formControlName="body"></textarea>
      </mat-form-field>

      <ng-container *ngIf="form.get('body').touched && form.get('body').invalid">
        <mat-error *ngIf="form.get('body').errors['required']">
          This field is required!
        </mat-error>
        <mat-error *ngIf="form.get('body').errors['minLength']">
          Min Length is 20 chars!
        </mat-error>
      </ng-container>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Add Tags</mat-label>
        <input matInput type="text" formControlName="tagList" />
      </mat-form-field>
    </div>

    <div class="flex-center">
      <button
        mat-stroked-button
        [disabled]="isSubmittingProps || form.invalid"
        type="submit"
      >
        Publish Article
      </button>
    </div>
  </form>
</div>
