<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <app-backend-error-messages
          *ngIf="errorsProps"
          [errors]="errorsProps"
        ></app-backend-error-messages>

        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Article Title"
                formControlName="title"
              />
              <span
                *ngIf="form.get('title').touched && form.get('title').invalid"
                style="color: red"
              >
                <span>This field is required!</span>
              </span>
            </fieldset>

            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="What Is This Article About?"
                formControlName="description"
              />
              <span
                *ngIf="form.get('description').touched && form.get('description').invalid"
                style="color: red"
              >
                <span>This field is required!</span>
              </span>
            </fieldset>

            <fieldset class="form-group">
              <textarea
                rows="8"
                class="form-control form-control-lg"
                placeholder="Article Content"
                formControlName="body"
              ></textarea>
              <span
                *ngIf="form.get('body').touched && form.get('body').invalid"
                style="color: red"
              >
                <span *ngIf="form.get('body').errors['required']">This field is required!</span>
                <span *ngIf="form.get('body').errors['minLength']">Min Length is 20 chars!</span>
              </span>
            </fieldset>

            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Add Tags"
                formControlName="tagList"
              />
            </fieldset>

            <fieldset>
              <button
                [disabled]="form.invalid || isSubmittingProps"
                type="submit"
                class="btn btn-lg pull-xs-right btn-primary"
              >
                Publish Article
              </button>
            </fieldset>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
