.article-form {

  form {
    width: 400px;
    margin: 0 auto;

    .form-group {
      position: relative;
      margin-bottom: 0.5rem;

      mat-error {
        position: absolute;
        bottom: 0;
      }
    }
  }

}

