<article *ngIf="isLoading$ | async" style="padding: 20px">
  <div style="display: flex; align-items: center">
    <app-loading CHeight="40" CWidth="40" BRadius="50%"></app-loading>
    <div>
      <app-loading CHeight="10" CWidth="80"></app-loading>
      <app-loading CHeight="10" CWidth="140"></app-loading>
    </div>
  </div>
  <section class="info">
    <app-loading CHeight="10" CWidth="400"></app-loading>
    <app-loading CHeight="10" CWidth="400"></app-loading>
    <app-loading CHeight="10" CWidth="400"></app-loading>
  </section>
</article>

<h6 *ngIf="!(isLoading$ | async) && (feed$ | async)?.articles.length === 0">
  No Articles Available yet
</h6>

<error-message *ngIf="error$ | async" [message]="error$ | async">
</error-message>

<ul *ngIf="feed$ | async">
  <li *ngFor="let article of (feed$ | async)?.articles" class="article-preview">
    <article class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" />
      </a>
      <section class="info">
        <a [routerLink]="['/profiles', article.author.username]">
          {{ article.author.username }}
        </a>
        <span class="date">{{ article.createdAt }}</span>
      </section>
      <div *ngIf="isLoggedIn$ | async" class="pull-xs-right">
        <add-to-favorites
          [favoritesCount]="article.favoritesCount"
          [isFavorited]="article.favorited"
          [articleSlug]="article.slug"
        ></add-to-favorites>
      </div>
    </article>

    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h5>{{ article.title }}</h5>
      <p>{{ article.description }}</p>
      <span>Read more...</span>

      <app-tag-list [tags]="article.tagList"></app-tag-list>
    </a>
  </li>
</ul>

<app-pagination
  *ngIf="(feed$ | async) && (feed$ | async)?.articles.length > 0"
  [total]="(feed$ | async)?.articlesCount"
  [url]="baseUrl"
  [limit]="limit"
  [currentPage]="currentPage"
></app-pagination>
