<div class="settings-page" *ngIf="user">
  <h2 class="mat-title">Settings</h2>

  <error-message *ngIf="errors$ | async"></error-message>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Profile Image Url:</mat-label>
        <input matInput formControlName="image" type="text" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Username:</mat-label>
        <input matInput formControlName="username" type="text" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Short Biography:</mat-label>
        <textarea matInput formControlName="bio"></textarea>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>New Password:</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"/>
        <button
          (click)="hide = !hide"
          mat-icon-button
          type="button"
          matSuffix
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      [disabled]="form.invalid || (isSubmitting$ | async)"
      type="submit"
    >
      Update Settings
    </button>
  </form>
</div>
