<div class="settings-page" *ngIf="user">
  <div class="container page">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-xs-12">
        <h2 class="text-xs-center">Settings</h2>

        <error-message *ngIf="errors$ | async"></error-message>

        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="image"
                placeholder="Profile Image Url"
              />
            </fieldset>

            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="username"
                placeholder="Username"
              />
            </fieldset>

            <fieldset class="form-group">
              <textarea
                class="form-control form-control-lg"
                formControlName="bio"
                placeholder="Short Biography"
              ></textarea>
            </fieldset>
          </fieldset>

          <fieldset class="form-group">
            <input
              type="email"
              class="form-control form-control-lg"
              formControlName="email"
              placeholder="Email"
            />
          </fieldset>

          <fieldset class="form-group">
            <input
              type="password"
              class="form-control form-control-lg"
              formControlName="password"
              placeholder="New Password"
            />
          </fieldset>

          <button
            [disabled]="form.invalid || (isSubmitting$ | async)"
            type="submit"
            class="btn btn-lg btn-primary pull-xs-right"
          >Update Settings</button>
        </form>
      </div>
    </div>
  </div>

</div>
